:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid gray;
  pointer-events: none;
}

.filled {
  background-color: gray;
  cursor: pointer;
  pointer-events: initial;
}
