<div *ngIf="state$ | async as state" class="page-container">
  <div class="top-bar">
    <h2>Score: {{ state.currentScore }}</h2>
    <h4>Highest score in session: {{ state.highScore }}</h4>
  </div>
  <div class="game-container">
    <ng-container *ngIf="state.stage === 2; else newGame">
      <div class="mole-container">
        <app-mole
          *ngFor="let item of [].constructor(numberOfMoles)"
          (moleHit)="moleHit()"
          (moleMissed)="moleMissed()"
        ></app-mole>
      </div>
    </ng-container>
    <ng-template #newGame>
      <button (click)="startGame()">{{ state.stage === 1 ? 'Start' : 'Try again' }}</button>
    </ng-template>
  </div>
  <div class="bottom-bar">
    <h4>Time left: {{ gameLifecycle$ | async }}s</h4>
  </div>
</div>
