.page-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  height: 100%;

  .top-bar {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .game-container {
    display: flex;
    flex: 1 1 100%;
    background-color: lightgray;
    align-items: center;
    justify-content: center;
    overflow: auto;

    .mole-container {
      display: grid;
      height: 100%;
      flex: 1 1 100%;
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
      gap: 100px;
    }
  }

  .bottom-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
  }
}
